
@keyframes fall_m {
	0%{
	-webkit-transform: translateY(-80%);
	transform: translateY(-80%);
	}
	33.3% {
	-webkit-transform: translateY(9px);
	transform: translateY(9px);
	}
	50.5% {
	-webkit-transform: translateY(-6px);
	transform: translateY(-6px);
	}
	73.25% {
	-webkit-transform: translateY(3px);
	transform: translateY(3px);
	}
	100% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	}
}
@keyframes zoom_m {
	0%{opacity: 0;
	-webkit-transform: scale(0.85);
	transform: scale(0.85);
	}

	100% {opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	}
}



/*自定义 bomb 样式*/
.bomb_bg{background:#000; filter:alpha(opacity=75); opacity:0.75; height:100%; width:100%; position:fixed; top:0; left:0; z-index:1000;}
.bomb_document{height:30%; width:70%; background:#fff; position:fixed; top:0; left:0; z-index:1001;
-webkit-animation:zoom_m 0.2s ease-in-out 1;
animation:zoom_m 0.2s ease-in-out 1;
}
.bomb_closebtn{display:block;cursor:pointer; position:absolute; z-index: 2; top:9px; right:12px; height:30px; width:30px; border-radius:50%; background:#000; }
.bomb_html{ width: 100%; width: 100%; position: relative;}


/*模拟原生各种 样式*/
.alert_document,.confirm_document,.prompt_document{height:170px; width:350px; background:#fff; position:fixed; top:0; left:0; z-index:1001;}
.alert_document .bomb_html,.confirm_document .bomb_html,.prompt_document .bomb_html{text-indent: 1rem; line-height: 50px; height: 100%; width: 100%}
.bomb_yes_btn,.bomb_no_btn{ display:inline-block; height:30px; width:100px; position:absolute; z-index: 2; bottom:15px; right:128px;}
.bomb_no_btn{ right:15px;}
.prompt_document .bomb_yes_btn,.prompt_document .bomb_no_btn{ bottom:12px; }
.prompt_input{ display:block; width:90%; height:26px; margin: 0 auto; margin-top: -11px; text-indent: 0.5rem;}
.bomb_html h2{font:20px/48px "微软雅黑"; background: #1cb394; text-indent:1rem; color: #fff;}
.bomb_document1{height:300px; width:340px;}
.bomb_html_body_box{ height: 500px; overflow-x:hidden; overflow-y: scroll;}
.textarea_document{height:440px; width:600px; background:#fff; position:fixed; top:0; left:0; z-index:1001;}
.textarea_document .bomb_html{text-indent: 1rem; line-height: 50px; height: 100%; width: 100%}
.textarea_document .textarea_input{ height:290px; width:545px; margin:20px; padding: 0.5rem;}


