@keyframes showrun {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.popups-bg {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.popups-document {
  height: 40vmin;
  width: 50vmin;
  background-color: #fff;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1001;
  -webkit-animation: showrun 0.13s ease-in-out 1;
  animation: showrun 0.13s ease-in-out 1;
}

.popups-closebtn {
  display: block;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 12px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: red;
}

.popups-body {
  width: 100%;
  width: 100%;
  position: relative;
}